@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1;
  position: relative */
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
  /* z-index: 1;
  position: relative */
}

.form-container {
  background-color: #2c3e50;
  height: 90vh;
  /* z-index: 2;
  position: relative */
}

 .location-search-input {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  /* position: relative;
  z-index: 9999 */
}

input[type="text"] { 
    outline: none;
    /* position: relative;
    z-index: 9999 */
}

.autocomplete-dropdown-container {
margin-top: -30px;
width: 1140px;
font-size: 18px;
color: white;
font-weight: lighter;
}
/* button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
} */



/* .flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      flex: 1;
      order: 1;
      padding: 20px;
      z-index: 1000;
    } */